# ~/.config/nvim/.gitignore

# 封印 Lazy.nvim 插件本身下载的巨量源码（换电脑后它会自动下载，不需要传到 Git）
/.repro/

# 封印本地运行时的临时数据、缓存和日志
/.netrwhist
/*.log

# 如果你在配置里偷懒写过一些临时测试文件，也可以过滤掉
.DS_Store

# 个人拼写词典（本地生成，不需要同步到 Git）
/spell/
